/* comment */

* {
  box-sizing: border-box;
}


.container {
  background-color: #141414;
  font-size: 80%;
  color: #c4c4c4;
  font-family: sans-serif;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  text-align: center;
}

body {
  background-color: #050505;
}

hr {
  width: 50%;
  height: 5px;
  border: none;
  background-color: #141414;
}

a:link {
  color: #c4c4c4;
}

a:visited {
  color: #c4c4c4;
}

a:hover {
  color: #cfcfcf;
}

nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
  transition: background-color 500ms;
  font-family: sans-serif;
  font-weight: bold;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li {
  display: inline;
}

.navbar-border {
  color: aliceblue;
}

.navbar-el {
  text-decoration: none;
}
