<nav>
  <ul style="padding-left: 0px">
    <li><a onclick="alert('uwu')" style="color: aliceblue">│ </a></li>
    <li><a href="index.html" style="text-decoration: none">HOME</a></li>
    <li><a href="aboutme.html" style="text-decoration: none">ABOUT</a></li>
    <li><a onclick="prompt_youtube_redirect()" style="text-decoration: none">YOUTUBE</a></li>
    <li><a href="contact.html" style="text-decoration: none">CONTACT</a></li>
    <li><a onclick="alert('owo')" style="color: aliceblue">│ </a></li>
  </ul>
</nav>

<script>
  function prompt_youtube_redirect() {
    let user_response = confirm("Redirect to youtube.com?");
    if (user_response) {
      window.location.href = "https://youtube.com/@catto24";
    }
  }
</script>