<nav>
  <ul style="padding-left: 0px">
    <li><a class="navbar-border" onclick="alert('uwu')">│ </a></li>
    <li><a class="navbar-el" href="index.html">HOME</a></li>
    <li><a class="navbar-el" href="aboutme.html">ABOUT</a></li>
    <li><a class="navbar-el" id="navbar-yt-redirect" onclick="prompt_youtube_redirect()">YOUTUBE</a></li>
    <li><a class="navbar-el" href="contact.html">CONTACT</a></li>
    <li><a class="navbar-border" onclick="alert('owo')">│ </a></li>
  </ul>
</nav>

<script>
  function prompt_youtube_redirect() {
    let user_response = confirm("Redirect to youtube.com?");
    if (user_response) {
      window.location.href = "https://youtube.com/@catto24";
    }
  }
</script>